.app {
    height: 100vh;
    width: 100vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: end;

    .waves {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // z-index: 10;
        // display: flex;
        height: 25vh;
        width: 100vw;
        .wave {
            // height: 100%;
            // width: 100%;
            position: absolute;
        }
    }

}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 C 0,500 0,100 0,100 C 56.12820512820514,82.50256410256411 112.25641025641028,65.00512820512822 198,69 C 283.7435897435897,72.99487179487178 399.102564102564,98.48205128205127 489,110 C 578.897435897436,121.51794871794873 643.3333333333334,119.06666666666668 717,111 C 790.6666666666666,102.93333333333332 873.5641025641025,89.25128205128205 963,92 C 1052.4358974358975,94.74871794871795 1148.4102564102564,113.92820512820512 1229,118 C 1309.5897435897436,122.07179487179488 1374.7948717948718,111.03589743589744 1440,100 C 1440,100 1440,500 1440,500 Z");
    }

    25% {
        d: path("M 0,500 C 0,500 0,100 0,100 C 54.22051282051285,104.71025641025642 108.4410256410257,109.42051282051283 197,108 C 285.5589743589743,106.57948717948717 408.4564102564101,99.02820512820513 494,98 C 579.5435897435899,96.97179487179487 627.7333333333333,102.46666666666667 695,107 C 762.2666666666667,111.53333333333333 848.6102564102566,115.10512820512821 932,112 C 1015.3897435897434,108.89487179487179 1095.825641025641,99.11282051282052 1180,96 C 1264.174358974359,92.88717948717948 1352.0871794871796,96.44358974358974 1440,100 C 1440,100 1440,500 1440,500 Z");
    }

    50% {
        d: path("M 0,500 C 0,500 0,100 0,100 C 93.07179487179488,108.09230769230768 186.14358974358976,116.18461538461538 273,109 C 359.85641025641024,101.81538461538462 440.4974358974358,79.35384615384616 502,85 C 563.5025641025642,90.64615384615384 605.8666666666667,124.39999999999999 696,125 C 786.1333333333333,125.60000000000001 924.0358974358974,93.04615384615386 1002,92 C 1079.9641025641026,90.95384615384614 1097.9897435897437,121.41538461538462 1161,128 C 1224.0102564102563,134.58461538461538 1332.0051282051281,117.29230769230769 1440,100 C 1440,100 1440,500 1440,500 Z");
    }

    75% {
        d: path("M 0,500 C 0,500 0,100 0,100 C 70.94615384615383,80.06153846153846 141.89230769230767,60.12307692307692 216,72 C 290.10769230769233,83.87692307692308 367.37692307692316,127.56923076923076 446,136 C 524.6230769230768,144.43076923076924 604.6,117.60000000000001 686,112 C 767.4,106.39999999999999 850.2230769230771,122.03076923076922 931,116 C 1011.7769230769229,109.96923076923078 1090.5076923076922,82.27692307692308 1175,76 C 1259.4923076923078,69.72307692307692 1349.746153846154,84.86153846153846 1440,100 C 1440,100 1440,500 1440,500 Z");
    }

    100% {
        d: path("M 0,500 C 0,500 0,100 0,100 C 56.12820512820514,82.50256410256411 112.25641025641028,65.00512820512822 198,69 C 283.7435897435897,72.99487179487178 399.102564102564,98.48205128205127 489,110 C 578.897435897436,121.51794871794873 643.3333333333334,119.06666666666668 717,111 C 790.6666666666666,102.93333333333332 873.5641025641025,89.25128205128205 963,92 C 1052.4358974358975,94.74871794871795 1148.4102564102564,113.92820512820512 1229,118 C 1309.5897435897436,122.07179487179488 1374.7948717948718,111.03589743589744 1440,100 C 1440,100 1440,500 1440,500 Z");
    }
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
