@keyframes scroll {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#bio {
  display: flex;

  #profile-pic {
    width: 640px;
    aspect-ratio: 1;
    object-fit: contain;
    animation: scroll 1500ms ease-in-out;
  }

  #desc {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 0 0 10%;
    animation: scroll 750ms ease-in-out;

    #welcome {
      font-size: 2.5rem;
      margin: 0;
    }

    #presentation {
      font-size: 3rem;
      margin: 0;
      display: flex;

      #name {
        margin-left: 1rem;
        font-weight: bold;
      }
    }
  }
}
