@keyframes jiggle-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10%);
  }
}

@keyframes jiggle-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-10%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(25%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#projects-container {
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-up 750ms ease-in-out;

  #header {
    margin: 1rem 0;

    h1 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }
  }

  .projects {
    display: flex;
    gap: 1rem;
    height: 75%;
    width: 100%;

    #prev-container,
    #next-container {
      display: flex;
      align-items: center;
    }

    #prev,
    #next {
      height: 3rem;
      width: 3rem;
    }

    #github {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      a {
        border-radius: 5px;
        height: 2.5rem;
        width: 15%;
        background-color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: transform 500ms;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 3px 3px rgba($color: grey, $alpha: 0.5);
        }

        .github-icon {
          width: 2rem;
          height: 2rem;
          color: black;
          margin: 0 1rem;
        }

        p {
          font-size: 0.8rem;
          color: black;
          font-weight: bold;
        }
      }
    }
  }

  #indicators {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1.5rem;
    place-content: center;
    width: 100%;

    .indicator {
      height: 0.3rem;
      width: 0.3rem;
      background-color: white;
      border-radius: 5px;
      margin: 0.1rem;
      transition: width 250ms linear;
    }
  }
}

@media (max-width: 450px) {
  #projects-container {
    margin-top: 3rem;
    height: 100%;

    #header {

      h3 {
        font-size: 0.8rem;
      }
    }

    .projects {
      #github {
        a {
          width: 68%;
        }
      }
    }

    #prev-container,
    #next-container {
      width: 5%;
    }
  }
}