#skills-container {
  height: 100%;
  display: grid;
  place-items: center;

  #skills {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: #151315;
    border-radius: 5rem;

    #skills-list {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      #next,
      #prev {
        fill: currentColor;
        transform: scale(2);
      }
    }
  }
}