#skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;

  .pie {
    width: 10rem;
    height: 10rem;
    position: relative;

    .chart {
      position: absolute;
      top: 0;
    }

    .perf {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%);
    }
  }

  .tech {
    font-size: 0.9rem;
  }
}
