@import "../css/colors.scss";

@font-face
{
    font-family: "Galano Grotesque";
    src: url("../fonts/GalanoGrotesqueRegular.otf");
}

@font-face
{
    font-family: "Galano Grotesque Bold";
    src: url("../fonts/GalanoGrotesqueBold.otf");
}

.Navbar
{
    z-index: 5;
    position: sticky;
    top: 0;
    display: flex;
    background-color: $primary-darker;
    font-family: "Galano Grotesque Bold";
    align-items: baseline;
    height: 85px;

    #me{
        margin-left: 5%;
        font-size: 20px;
        font-weight: bolder;
        width: 300px;
        color: white;
    }

    .items{
        display: flex;
        width: 75%;
        transform: translateX(22%);

        .nav-item{
            width: 100px;
            height: 85px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            &:hover{
                background-color: $primary-dark;
                border-bottom: white solid 3px;
                transform: translateY(-3px);
                transition: 400ms;
            }
        }
    }

    .chat{
        z-index: 1;
        height: 50px;
        width: 150px;
        margin-right: 5%;
        background-color: $primary-darker;
        border-radius: 8px;
        border: white solid 3px;
        font-family: "Galano Grotesque Bold";
        color: white;
        transition: 750ms;
        &:hover{
            color: $primary-darker;
            border: $primary-darker solid 3px;
            background-color: white;
            transform: scale(1.1);
            transition: 750ms;
        }
    }
}

