@import "../css/colors.scss";

@keyframes Growing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.skills{

    margin-top: 50px;
    display: flex;
    flex-direction: column;

    .bar{
        display: grid;
        grid-template-columns: 0.25fr 0.80fr;
        height: 25px;
        margin: 5px 0;

        .label{
        }

        .outer{
            display: flex;
            width: 75%;
            background-color: white;
            border-radius: 3px;
            height: 50%;
            .inner{
                animation-name: Growing;
                animation-fill-mode: both;
                height: 100%;
                background-color: $purple-dark;
                border-radius: 3px;
            }
        }
    }
}